@import "../../styles/@global.sass"
@import "../../styles/@mixins.sass"

.goBackButton
  display: flex
  justify-content: flex-start
  width: 100%
  padding: 40px 20px 0


.goBackButton__button
  background-color: transparent
  border: none
  color: #FF3744
  position: relative
  @include textBold-20

.goBackButton__button_type_img
  content: " "
  width: 12px
  height: 11px
  top: 5px
  position: relative
  transform: rotate(180deg)

.goBackButton__button:hover
  cursor: pointer

@media screen and (max-width: 767px)

  .goBackButton__button
    @include textRegular-12